<div class="group relative article" id="article_<%= article.id %>">
  <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
    <%= image_tag article.images.first.dig('files', 'original'),
                alt: article.title,
                class: 'h-full w-full object-cover object-center lg:h-full lg:w-full'
    %>
  </div>
  <div class="mt-4 flex justify-between">
    <div class="grid grid-cols-4 gap-4">
      <div class="col-span-3">
        <h3 class="text-sm text-gray-700">
          <span aria-hidden="true" class="absolute inset-0"></span>
          <span class="font-bold">
            <%= article.title %>
          </span>
        </h3>
        <p class="text-xs mt-4">
          <%= article.description %>
        </p>
        <p class="text-xs text-gray-500 mt-4">
          📍 <%= article.location.fetch('town', 'Nearby') %>
        </p>
      </div>
      <div>
        <p class="text-right font-medium text-gray-900">0 ♥</p>
      </div>
    </div>
  </div>
</div>